@{
    ViewBag.Title = "Zengin İçerik Ekle";
    Layout = "AdminLayout";
    ViewData["ActiveMenu"] = "menu-item-contents";
}

<div class="m-portlet">
    <div class="m-portlet__head">
        <div class="m-portlet__head-caption">
            <div class="m-portlet__head-title">
                <span class="m-portlet__head-icon m--hide">
                    <i class="la la-gear"></i>
                </span>
                <h3 class="m-portlet__head-text">
                    Zengin İçerik Girişi
                </h3>
            </div>
        </div>
    </div>

    <!--begin::Form-->
    @using(Html.BeginForm("CreateRichText", "Contents", FormMethod.Post, new { @class = "m-form m-form--fit m-form--label-align-right m-form--group-seperator-dashed" }))
    {
        <div class="m-portlet__body">
            <div class="form-group m-form__group row">
                <label class="col-lg-2 col-form-label">Ad:</label>
                <div class="col-lg-3">
                    <input type="text" class="form-control m-input" name="Name" required>
                </div>
                <label class="col-lg-2 col-form-label">Dil:</label>
                <div class="col-lg-3">
                    <select name="LanguageID" class="form-control"> 
                        <option value="@((int) Enums.Languages.tr)">Türkçe</option> 
                        <option value="@((int) Enums.Languages.en)">İngilizce</option>
                    </select>
                </div>
            </div>
            
            <div class="form-group m-form__group row">
                <label class="col-lg-2 col-form-label">Başlık:</label>
                <div class="col-lg-3">
                    <input type="text" class="form-control m-input" name="Title" required>
                </div>
                <label class="col-lg-2 col-form-label">Key:</label>
                <div class="col-lg-3">
                    <select name="Key" class="form-control">
                        <option value="@((int)Enums.ContentArrayType.GuvenliOdeme)">@Enums.ContentArrayType.GuvenliOdeme</option>
                        <option value="@((int)Enums.ContentArrayType.KullanimKosullari)">@Enums.ContentArrayType.KullanimKosullari</option>
                        <option value="@((int)Enums.ContentArrayType.Yardim)">@Enums.ContentArrayType.Yardim</option>
                        <option value="@((int)Enums.ContentArrayType.Mail)">@Enums.ContentArrayType.Mail</option>
                    </select>
                </div>
            </div>

            <div class="form-group m-form__group row">
                <label class="col-lg-2 col-form-label">İçerik:</label>
                <div class="col-lg-10">
                    <textarea type="text" class="form-control m-input summernote" name="TextContent" rows="4" required></textarea>
                </div>
            </div>
            
        </div>
        <div class="m-portlet__foot m-portlet__no-border m-portlet__foot--fit">
            <div class="m-form__actions m-form__actions--solid">
                <div class="row">
                    <div class="col-lg-2"></div>
                    <div class="col-lg-10">
                        <button type="submit" class="btn btn-success">Kaydet</button>
                        <a href="/AdminPanel/Contents" class="btn btn-secondary">Vazgeç</a>
                    </div>
                </div>
            </div>
        </div>
    }

    <!--end::Form-->
</div>

@section Scripts{
    <script>
        $(".summernote").summernote({height:150});
    </script>
}
