@model HomePageViewModel

@{
    var lang = Constants.GetLang(Context.Session.GetString("lang"));
    ViewData["Title"] = Localization.Get("Arama Sonuçları", "Search Results", lang);
    Layout = "_Layout";
}
@section style {
    <link href="~/Content/css/main.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/new/custom.css" rel="stylesheet" />
    <style>
        div.guvenli-odeme-div {
            font-size: 13px;
        }
    </style>
}

<br />
<br />
<div id="alisveris" class="sec-altsayfa section-1 p-t-rem-2">
    <div class="w-container">

        <div class="side-bar">
            <div class="kategoriler-div">
                <div class="kategoriler">@Localization.Get("KATEGORİLER", "CATEGORIES", lang) </div>

                @foreach (var category in Model.AdvertCategories)
                {
                    <a href="/@(Localization.Get("Kategori", "Category", lang))/@category.Slug" class="link-block w-clearfix w-inline-block">
                        <div class="div-block-2 w-clearfix">
                            <img alt="@category.Description" src="@category.IconSource" onerror="this.src = '/Content/img/images/favicon.jpg';" width="19" height="19" />
                        </div>
                        <div>@category.Name</div>
                    </a>
                }
            </div>

            <div class="kategoriler">@Localization.Get("DESTEK", "SUPPORT", lang) </div>

            <a href="@Constants.GetURL((int) Enums.Routing.Hakkimizda, lang)" class="link-block w-inline-block w-clearfix">
                <div>- @Localization.Get("Hakkımızda", "About Us", lang)</div>
            </a>

            <a href="@Constants.GetURL((int) Enums.Routing.Videolar, lang)" class="link-block w-inline-block w-clearfix    ">
                <div>- @Localization.Get("Videolar", "Videos", lang)</div>
            </a>
            <a href="@Constants.GetURL((int) Enums.Routing.Yardim, lang)" class="link-block w-inline-block  ">
                <div>- @Localization.Get("Yardım", "Help", lang)</div>
            </a>
            <a href="@Constants.GetURL((int) Enums.Routing.KullanimKosullari, lang)" class="link-block w-inline-block  ">
                <div>- @Localization.Get("Kullanım Koşulları", "Terms of Use", lang)</div>
            </a>
            <a href="@Constants.GetURL((int) Enums.Routing.GuvenliOdemeGittiBu, lang)" class="link-block w-inline-block  ">
                <div class="guvenli-odeme-div">- @Localization.Get("Güvenli Ödeme Gitti Bu", "Secure Payment", lang)</div>
            </a>
            <a href="@Constants.GetURL((int) Enums.Routing.Ucretler, lang)" class="link-block w-inline-block  ">
                <div>- @Localization.Get("Ücretler", "Fees", lang)</div>
            </a>
            <a href="@Constants.GetURL((int) Enums.Routing.Iletisim, lang)" class="link-block w-inline-block   ">
                <div>- @Localization.Get("İletişim", "Contact Us", lang)</div>
            </a>

        </div>

        <div class="div-block-36">
            <div class="div-head w-clearfix">
                <div class="div-block-36">
                    <div class="div-head w-clearfix">
                        <h3 class="heading-2">@ViewData["Title"]</h3>
                    </div>
                    <div class="products">
                        @{
                            var index = 0;
                            while (index < Model.Items.Count)
                            {
                                await Html.RenderPartialAsync("~/Views/Partials/HomePageItem_4Column.cshtml", Model.Items[index]);
                                index++;
                            }
                        }

                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

@section Scripts{

}

