@model List<Parse>
@{
    ViewBag.Title = "XML'ler";
    Layout = "AdminLayout";
    ViewData["ActiveMenu"] = "menu-item-xmlList";
}

@section Styles{
    <link href="/AdminContent/assets/vendors/custom/datatables/datatables.bundle.css" rel="stylesheet" type="text/css">
}

<div class="m-content">
    <div class="row">
        <div class="col-12">
            <div class="m-portlet m-portlet--mobile">
                <div class="m-portlet__head">
                    <div class="m-portlet__head-caption">
                        <div class="m-portlet__head-title">
                            <h3 class="m-portlet__head-text">
                                XML'ler
                            </h3>
                        </div>
                    </div>
                </div>
                <div class="m-portlet__body">
                    <div class="table-responsive">
                        <table class="table table-striped- table-bordered table-hover table-checkable" id="m_table_1">
                            <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>Create Date</th>
                                    <th>Price Filter</th>
                                    <th>Update Date</th>
                                    <th>UserID</th>
                                    <th>User File Name</th>
                                    <th>Is Deleted</th>
                                    <th>Supplier</th>
                                    <th>Max Installment</th>
                                    <th>Advert Count</th>
                                    <th>Aktif</th>
                                    <th>İşlemler</th>
                                </tr>
                            </thead>
                            <tbody>

                                @foreach (var parse in Model)
                                {
                                <tr id="row_@parse.ID">
                                    <td> @parse.ID</td>
                                    <td> @parse.CreateDate</td>
                                    <td> @parse.PriceFilter </td>
                                    <td> @parse.UpdateDate </td>
                                    <td> @parse.UserID </td>
                                    <td> @parse.UserFileName </td>
                                    <td> @parse.IsDeleted </td>
                                    <td> @parse.Supplier </td>
                                    <td> @parse.MaxInstallment </td>
                                    <td> @parse.AdvertCount </td>
                                    <td id="status_@parse.ID"> @(parse.IsDeleted ? "Pasif" : "Aktif" ) </td>
                                    <td>
                                        <div class="btn-group btn-group-sm" role="group">
                                            @if (!parse.IsDeleted)
                                            {
                                                <button onclick="updateStatusMessage(@parse.ID, false, '@parse.UserFileName')" class="m-btn btn btn-warning" title="Pasifleştir">
                                                    <i class="la la-close"></i>
                                                </button>
                                            }
                                            else
                                            {
                                                <button onclick="updateStatusMessage(@parse.ID, true, '@parse.UserFileName')" class="m-btn btn btn-success" title="Aktifleştir">
                                                    <i class="la la-check"></i>
                                                </button>
                                            }
                                        </div>
                                    </td>
                                </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



@section Scripts{
    <script src="/AdminContent/assets/vendors/custom/datatables/datatables.bundle.js" type="text/javascript"></script>
    <script>
        $("#m_table_1").DataTable({
            order: [0, 'desc'],
            dom: "<'row'<'col-sm-6 text-left'f><'col-sm-6 text-right'B>>\n\t\t\t<'row'<'col-sm-12'tr>>\n\t\t\t<'row'<'col-sm-12 col-md-5'i><'col-sm-12 col-md-7 dataTables_pager'lp>>",
            buttons: ["print", "copyHtml5", "excelHtml5", "csvHtml5", "pdfHtml5"]
        });
    </script>
    <script>
        function updateStatusMessage(id, isActive, title) {
            var status = isActive ? "aktifleştirmek" : "pasifleştirmek";

            Swal({
                title: '#' + id + ' ' + title + ' isimli XML dosyasını ' + status + ' istediğinize emin misiniz?',
                text: "XML dosyası güncellenmek üzere",
                type: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Evet',
                cancelButtonText: 'Vazgeç'
            }).then((result) => {
                if (result.value) {
                    updateStatus(id, isActive);
                }
            });
        }
        function updateStatus(id, status) {
            var newStatus = status ? "Aktif" : "Pasif";
            $.ajax({
                url: "/AdminPanel/Parse/UpdateStatus",
                type: "POST",
                data: { id, status },
                success: function (data) {
                    if (data.isSuccess) {
                        $('#status_' + id).html(newStatus);
                        notify("success", data.message);
                    } else {
                        notify("danger", data.message);
                    }
                }
            });
        }
    </script>
}
