@using GittiBu.Web.Helpers
@using Microsoft.AspNetCore.Http.Extensions
@inject Localization Localization
@{
    int lang = Constants.GetLang(Context.Session.GetString("lang"));
    var defaultSeoDesc = "GittiBu ile satışı zor eşyalarınızı kredi kartına taksitlendirin. Ücretsiz ilan verin, facebook,twitter,instagram,whatsApp, EMail ile çevrenizle paylaşın";
    var defaultSeoKeywords = "letgo, letgo türkiye, goshopier, shopsta,kredi kartı ile ödeme, online ödeme, internetten ödeme, e-ticaret ödeme, sosyal medya ödeme, facebook ödeme, instagram ödeme, twitter ödeme, kolay ödeme, kapıda ödeme, güvenli ödeme, sanal pos, online tahsilat, instagram alışveriş, instagram satış, facebook alışveriş, facebook satış, instagram butik";
}

<!DOCTYPE html>
<html data-wf-page="59c8d99cbcfa480001e5133e" data-wf-site="59c8d99cbcfa480001e5133d"
      xmlns="http://www.w3.org/1999/xhtml"
      xml:lang="tr"
      lang="tr">
<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-121893110-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());
        gtag('config', 'UA-121893110-1');
    </script>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@Html.Raw(ViewBag.Title)</title>
    <meta name="google-signin-client_id" content="1051885509932-vr2tgqgqqp8rcrtn3r2jophbb2i96fio.apps.googleusercontent.com">
    <meta name="keywords" content="@Html.Raw(ViewBag.SeoKeywords != null ? ViewBag.SeoKeywords : defaultSeoKeywords)" />
    <meta name="description" content="@Html.Raw(ViewBag.SeoDescription != null ? ViewBag.SeoDescription : defaultSeoDesc)" />
    <meta name="Language" content="@(lang == 1 ? "Turkish":"English")">
    <meta name="Publisher" content="GittiBu.com">
    <meta name="Robots" content="index, follow">
    <meta name="page-topic" content="GittiBu.com">
    <meta name="YahooSeeker" content="index, follow">
    <meta name="msnbot" content="index, follow">
    <meta name="googlebot" content="index, follow">
    <meta name="Rating" content="General">
    <meta name="allow-search" content="yes">
    <meta name="expires" content="never">
    <meta name="googlebot" content="noodp">
    <meta name="slurp" content="noydir">
    <meta name="google-site-verification" content="Lf0_jMk7lROmmNTP9JJhrPUplULeB-LMIINHP3ximKs" />
    <meta name="msvalidate.01" content="F42BCFACDF49C3BDF1B172C50B38E402" />
    <meta property="og:locale" content="tr_TR" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="GittiBu | @Html.Raw(ViewBag.Title)" />
    <meta property="og:description" content="@Html.Raw(ViewBag.SeoDescription != null ? ViewBag.SeoDescription : defaultSeoDesc)" />
    <meta property="og:site_name" content="@Html.Raw(ViewBag.SeoKeywords != null ? ViewBag.SeoKeywords : defaultSeoKeywords)" />
    <meta property="og:image:secure_url" content="http://www.gittibu.com/Content/img/images/GittiBuLogo.jpg" />
    <meta property="og:url" content="https://www.gittibu.com" />
    @await RenderSectionAsync("MetaTag", false)
    <meta name="smartbanner:title" content="Gittibu.com" />
    <meta name="smartbanner:author" content="GittiBu" />
    <meta name="smartbanner:price" content="Ücretsiz" />
    <meta name="smartbanner:price-suffix-google" content=" - Android Uygulaması" />
    <meta name="smartbanner:price-suffix-apple" content=" - IOS Uygulaması" />
    <meta name="smartbanner:icon-apple"
          content="https://is2-ssl.mzstatic.com/image/thumb/Purple113/v4/24/76/84/24768435-6d3e-fa30-6c8f-ec090895d8b2/AppIcon-0-1x_U007emarketing-0-0-85-220-0-7.png/230x0w.png" />
    <meta name="smartbanner:icon-google"
          content="https://lh3.googleusercontent.com/KCK5ZWXTxBqkXaphMX7ES1f5sJVEPgeN8u6wJ9bx-TTsQbiIWUm-q3JklqGGDv0xI-lr=s180-rw" />
    <meta name="smartbanner:button" content="Yükle" />
    <meta name="smartbanner:button-url-apple" content="https://apps.apple.com/us/app/gittibu-g%C3%BCvenilir-online-sat%C4%B1%C5%9F/id1492305177" />
    <meta name="smartbanner:button-url-google" content="https://play.google.com/store/apps/details?id=com.gittibu" />
    <meta name="smartbanner:enabled-platforms" content="android,ios" />
    <meta name="smartbanner:close-label" content="Kapat" />
    <link rel="canonical" href="@Context.Request.GetDisplayUrl()" />
    <noscript id="deferred-styles">
        <link href="/Content/plugins/font-awesome-4.7.0/css/font-awesome.min.css" rel="stylesheet">

    </noscript>
    <!-- [if lt IE 9]><script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script><![endif] -->
    <script>!function (o, c) { var n = c.documentElement, t = " w-mod-"; n.className += t + "js", ("ontouchstart" in o || o.DocumentTouch && c instanceof DocumentTouch) && (n.className += t + "touch") }(window, document);</script>
    <link href="/favicon.png" rel="shortcut icon" type="image/x-icon" />
    <link href="/favicon.png" rel="apple-touch-icon" />
    <link rel="icon" href="/favicon.ico" />
    <link rel="shortcut icon" type="image/png" href="/favicon.png" />
    <link rel="shortcut icon" type="image/png" href="/favicon.png" />
    <link href="/Content/plugins/smartbanner/smartbanner.css" rel="stylesheet" asp-append-version="true" />
    <link href="/Content/css/normalize.css" rel="stylesheet" />
    <link href="/Content/css/bootstrap.min.css" rel="stylesheet" />
    <link href="/Content/css/components.css?v=2.0" rel="stylesheet" />
    <link href="/Content/css/audiophile-2.css" rel="stylesheet" asp-append-version="true" />
    <link href="/Content/css/style.css?v=3.0" rel="stylesheet" />

    <link href="/Content/plugins/jBox-master/Source/jBox.css" rel="stylesheet" />
    <link href="/Content/plugins/jBox-master/Source/plugins/Notice/jBox.Notice.css" rel="stylesheet" />
    <link href="/Content/plugins/owl-carousel/css/owl.carousel.min.css" rel="stylesheet" />
    <link href="/Content/plugins/owl-carousel/css/owl.theme.default.min.css" rel="stylesheet" />

    <link href="/Content/css/animate.css" rel="stylesheet" />
    <link href="/Content/plugins/select2-master/dist/css/select2.min.css" rel="stylesheet" />
    <link href="/Content/css/genaral.css?v=2.0" rel="stylesheet" />
    <link href="/Content/plugins/noty/noty.css" rel="stylesheet" />
    <link rel="stylesheet" href="/Content/plugins/slicknav/slicknav.min.css" />

    <link href="~/Content/css/custom.css" rel="stylesheet" />
    <link href="~/Content/css/newcustom.css" rel="stylesheet" />
    <link href="~/Content/css/siteframe.css" rel="stylesheet" />

    @RenderSection("style", false)
    <script src='https://www.google.com/recaptcha/api.js'></script>
    <script src='~/Content/script/fb.js'></script>
    @RenderSection("head", false)
    @*<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>*@
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-9703328830778745" crossorigin="anonymous"></script>

</head>
<body class="body">
    <button onclick="topFunction()" id="scrollTop"> <i class="fa fa-arrow-circle-o-up"></i> @Localization.Get("Başa Dön", "Scroll Top", lang)</button>

    <div data-collapse="all" data-animation="over-left" data-duration="400" id="topmenuContainer" class="w-nav">
        @{ await Html.RenderPartialAsync("~/Views/Partials/TopMenu.cshtml"); }
    </div>

    @RenderBody()

    @{
        await Html.RenderPartialAsync("Footer");
    }

    <script src="~/Content/script/tether.min.js"></script>
    <script src="~/Content/script/jquery-3.4.1.js"></script>
    <script src="~/Content/script/webfont.js"></script>
    <script>WebFont.load({ google: { families: ["Nunito Sans:200,300,regular,600,700,800,900:latin,latin-ext"] } });</script>
    <script src="~/Content/script/audiophile-2.js"></script>


    <script src="~/Content/plugins/owl-carousel/owl.carousel.min.js"></script>
    <script src="~/Content/plugins/jBox-master/Source/jBox.min.js"></script>
    <script src="~/Content/plugins/jBox-master/Source/plugins/Notice/jBox.Notice.min.js"></script>

    <script src="~/Content/plugins/select2-master/dist/js/select2.full.min.js"></script>
    <script src="~/Content/plugins/select2-master/dist/js/i18n/tr.js"></script>
    <!-- [if lte IE 9]><script src="https://cdnjs.cloudflare.com/ajax/libs/placeholders/3.0.2/placeholders.min.js"></script><![endif] -->
    <script src="~/Content/script/afterLoad.js"></script>
    <script src="~/Content/script/moment.min.js"></script>
    <script src="/Content/plugins/noty/noty.js"></script>

    <script src="/Content/script/bootstrap.min.js"></script>
    <script src="/Content/plugins/slicknav/jquery.slicknav.min.js">
    </script>

    <script>
    var isWebView = @Html.Raw(string.IsNullOrEmpty(Context.Request.Headers["X-Requested-With"]) ? "0" : Context.Request.Headers["X-Requested-With"].ToString() == "XMLHttpRequest" ? "2" : "1");
    var loadDeferredStyles = function () {
        var addStylesNode = document.getElementById("deferred-styles");
        var replacement = document.createElement("div");
        replacement.innerHTML = addStylesNode.textContent;
        document.body.appendChild(replacement)
        addStylesNode.parentElement.removeChild(addStylesNode);
    };
    var raf = requestAnimationFrame || mozRequestAnimationFrame ||
        webkitRequestAnimationFrame || msRequestAnimationFrame;
    if (raf) raf(function () {
        window.setTimeout(loadDeferredStyles, 0);
    });
    else window.addEventListener('load', loadDeferredStyles);
    </script>
    <script src="/Content/plugins/smartbanner/smartbanner.js" asp-append-version="true"></script>

    <script>
        Noty.overrideDefaults({
            closeWith: ['click', 'button']
        });

        function search() {
            var query1 = $('input[name="query_mobile"]').val();
            var query2 = $('#query').val();
            var query = query2;

            if (query1 !== "")
                query = query1;

            if (query === "") {
                notify("error", "Lütfen aramak istediğiniz metni yazınız.");
                return;
            }

            window.location = '/@Localization.Get("Arama/","Search/", lang)' + query.replace(/\+/g,"");

        }

        function showAlert(message, type) {
            var html = ' <div class="alert alert-'+type+'" > '+message+' </div> ';
            $('#alertArea').html('');
            $('#alertArea').append(html);
        }

        @if (TempData["UiMessage"]!=null)
    {
        var message = TempData.Get<UiMessage>("UiMessage");
        <text>
        showAlert('@message.Message', '@message.Class');
        </text>
    }
    </script>

    @RenderSection("Scripts", false)

    <script>
        $(".select2").select2({
            language: "tr-TR",
        });
    </script>
    <script>
        function notify(type, message) {
            new Noty({
                closeWith: ['click', 'button'],
                theme: 'sunset',
                type: type,
                text: message,
                progressBar: true,
                timeout: 4000
            }).show();
        }
        $(function () {
            $("input[type=checkbox]:not(.installment)").change(function () {
                $(this).val($(this).is(":checked"));
            });

            @if (TempData.Get<UiMessage>("Notification") != null)
        {
            var noty = TempData.Get<UiMessage>("Notification");
            <text>
                new Noty({
                    closeWith: ['click', 'button'],
                    theme: 'sunset',
                    type: '@noty.Type.ToString()',
                    text: '@noty.Message',
                    progressBar: true,
                    timeout: @(noty.Timeout > 0 ? noty.Timeout : 10000)
                }).show();
            </text>
        }

            var input = document.getElementById("query");
            input.addEventListener("keyup", function(event) {
                event.preventDefault();
                if (event.keyCode === 13) {
                    search();
                }
            });
        });

    </script>

    <script>
        function readNotif(id, url, go) {
            $("body").css("cursor", "progress");
            $.ajax({
                url: '/ReadNotification/',
                data: { id },
                type: 'POST',
                dataType: 'json',
                success: function (data) {

                    if (url !== "#" && go) {
                        window.location.href = url;
                    }
                    $("#notif_" + id).remove();
                    const count = parseInt($("#notif_count").text(), 10) - 1;
                    $('#notif_count').text(count);
                    if (count === 0) {
                        $('#notif_icon').attr('src', '/Content/img/images/notification.png');
                    }

                },
                complete: function () {
                    $("#btnLoadMore").html('Load More...')
                        .removeClass("disabled");
                }
            });


        }
    </script>

    <script>
        function likeAd(id) {
            $.ajax({
                type: "POST",
                url: "/LikeAd",
                data: { id },
                error: function(XMLHttpRequest, textStatus, errorThrown) {
                    notify('error',
                        '@Localization.Get("Beklenmedik bir hata oluştu, lütfen bağlantınızı kontrol edip tekrar deneyin.", "An unexpected error has occurred, please check your connection and try again.", lang)');
                },
                success: function(result) {
                    if (result.isSuccess) {
                        $('#likeImage_' + id).attr("src", "/Content/img/images/dolu_kalp.png");
                        $('#likeImage_' + id).attr("onclick", 'unlikeAd(' + id + ')');
                        $('#likeImage_' + id).attr("title", '@Html.Raw(Localization.Get("Beğenmekten Vazgeç", "Unlike", lang))');
                    } else {
                        notify('error', result.message);
                    }
                }
            });
        }

        function unlikeAd(id) {
            $.ajax({
                type: "POST",
                url: "/UnlikeAd",
                data: { id },
                error: function(XMLHttpRequest, textStatus, errorThrown) {
                    notify('error',
                        '@Localization.Get("Beklenmedik bir hata oluştu, lütfen bağlantınızı kontrol edip tekrar deneyin.", "An unexpected error has occurred, please check your connection and try again.", lang)');
                },
                success: function(result) {
                    if (result.isSuccess) {
                        $('#likeImage_' + id).attr("src", "/Content/img/images/kalp.png");
                        $('#likeImage_' + id).attr("onclick", 'likeAd(' + id + ')');
                        $('#likeImage_' + id).attr("title", '@Html.Raw(Localization.Get("Beğen", "like", lang))');
                    } else {
                        notify('error', result.message);
                    }
                }
            });
        }
    </script>
    <script>
        window.onscroll = function () { scrollFunction() };
        function scrollFunction() {
            if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
                document.getElementById("scrollTop").style.display = "block";
            } else {
                document.getElementById("scrollTop").style.display = "none";
            }
        }
        function topFunction() {
            document.body.scrollTop = 0;
            document.documentElement.scrollTop = 0;
        }
    </script>
    <script>
        $(document).ready(function(){
            $('#mobile-menu').slicknav({
                brand: '<a href="/"> <img alt="logo" src="/Content/img/images/logo.gif" width="150" alt="GittiBu Güvenilir Online Satış Sistemi"/> </a>'
            });
        });

        $('#email-form-2').on('submit',
            function(e) {
                e.preventDefault();
                var waitMessage = '@Html.Raw(Localization.Get("Lütfen bekleyiniz", "Please wait", lang))';
                notify('info', waitMessage);

                $.ajax({
                    url: '/Home/AddNewsletter',
                    data: { email: $('#txt_newsletter').val() },
                    type: 'post',
                    success: function(result) {
                        if (result.isSuccess) {
                            notify('success', result.message);
                            $('#txt_newsletter').val('')
                        } else {
                            notify('error', result.message);
                        }
                    }
                });
            }
        );
    </script>

    <script src="~/Content/script/newcustom.js"></script>



    <script type="application/ld+json">
        {
        "@@context" : "https://schema.org",
        "@@type" : "Organization",
        "name" : "GittiBu.com",
        "url" : "https://www.gittibu.com","sameAs" : [
        "https://twitter.com/GittiBu",
        "https://plus.google.com/101186673138006246516",
        "https://www.facebook.com/Gittibucom-293504194650830/",
        "https://www.instagram.com/gittibu_com/ ",
        "https://tr.pinterest.com/gittibucom/",
        "https://www.facebook.com/groups/2.elherseysatilik",
        "https://play.google.com/store/apps/details?id=com.gittibu",
        "https://apps.apple.com/us/app/gittibu-g%C3%BCvenilir-online-sat%C4%B1%C5%9F/id1492305177"
        ]
        }
    </script>
    <script>

        [].forEach.call(document.querySelectorAll('.adsbygoogle'), function () {
            (adsbygoogle = window.adsbygoogle || []).push({});
        });

    </script>
</body>
</html>
