@{
    var lang = Constants.GetLang(Context.Session.GetString("lang"));
}

<div class="footer w-clearfix">
    <div class="w-container">
        <div class="div-block-42">
            <a href="/" class="link-block-3 brand-footer w-inline-block w--current">
                <img alt="logo" title="logos" src="/Content/img/images/logo.gif" class="image-4">
            </a>
        </div>
        <div class="div-footer-link w-clearfix">
            <div class="footer-links " style="    text-align: center;
    width: 100%;
    margin-bottom: 30px;">
                @*<div class="col-md-1"></div>*@
                <a href="@Constants.GetURL((int)Enums.Routing.Hakkimizda, lang)" class="f-link">@Localization.Get("Hakkımızda", "About", lang)</a>

                &nbsp;
                &nbsp;
                -&nbsp;
                &nbsp;




                <a href="@Constants.GetURL((int)Enums.Routing.Videolar, lang)" class="f-link">@Localization.Get("Videolar", "Videos", lang)</a>

                &nbsp;
                &nbsp;
                -&nbsp;
                &nbsp;&nbsp;


                <a href="@Constants.GetURL((int)Enums.Routing.Yardim, lang)" class="f-link ">@Localization.Get("Yardım", "Help", lang)</a>


                &nbsp;&nbsp;
                -&nbsp;
                &nbsp;&nbsp;


                <a href="@Constants.GetURL((int)Enums.Routing.KullanimKosullari, lang)" class="f-link">@Localization.Get("Kullanım Koşulları", "Terms of Use", lang)</a>


                &nbsp;&nbsp;
                -&nbsp;
                &nbsp;&nbsp;


                <a href="@Constants.GetURL((int)Enums.Routing.Ucretler, lang)" class="f-link ">@Localization.Get("Ücretler", "Fees", lang)</a>


                &nbsp;&nbsp;
                -&nbsp;
                &nbsp;&nbsp;


                <a href="@Constants.GetURL((int)Enums.Routing.Iletisim, lang)" class="f-link ">@Localization.Get("İletişim", "Contact Us", lang)</a>
                @*<div class="col-md-1"></div>*@
            </div>
            <div>
                <a></a>
                <a></a>
                <a></a>
            </div>
            <div class="footer-links div-block-3 div-center" style="justify-content: center;text-align:center">
                <div>
                    <a href="#" class="link-block-9 w-inline-block p-l-0-i" style="margin-right: 10px;">
                        <img src="/content/img/VISAMaster.png" alt="Visa Master" class="app-logo-width-ios"  style="width: 120px;" />
                    </a>
                    <a target="_blank" href="https://play.google.com/store/apps/details?id=com.gittibu" title="GittiBu Mobil Uygulama" class="link-block-9 w-inline-block p-l-0-i" style="margin-right: 10px;">
                        <img src="/Content/img/GooglePlay.png" alt="Google Play GittiBu" title="Google Play GittiBu" style="width: 120px;" class="app-logo-width" />
                    </a>
                    <a target="_blank" href="https://apps.apple.com/us/app/gittibu-g%C3%BCvenilir-online-sat%C4%B1%C5%9F/id1492305177" title="GittiBu Mobil Uygulama" class="link-block-9 w-inline-block p-l-0-i" style="margin-right: 5px;" >
                        <img src="/Content/img/AppStore.png" alt="IOS GittiBu" title="IOS GittiBu" class="app-logo-width-ios" style="width: 120px;" />
                    </a>
                    <a target="_blank" href="https://www.crunchbase.com/organization/gittibu" title="Crunchbase" class="link-block-9 w-inline-block social-media-link p-l-0" >
                        <img src="~/Content/img/cb_yeni1.png" height="30" class="" alt="Crunchbase GittiBu" title="Crunchbase GittiBu" />
                    </a>
                    <a target="_blank" href="https://www.facebook.com/pg/Gittibucom-293504194650830" title="@Localization.Get("Facebook'ta bizi takip et", "Follow-us on Facebook", lang)" class="link-block-9 w-inline-block social-media-link">
                        <i class="fa fa-facebook fa-2x"></i>
                    </a>
                    <a target="_blank" href="https://www.facebook.com/groups/2.elherseysatilik" title="@Localization.Get("Facebook'ta bizi takip et", "Follow-us on Facebook", lang)" class="link-block-9 w-inline-block social-media-link">
                        <i class="fa fa-facebook fa-2x"></i>
                    </a>
                    <a target="_blank" href="https://twitter.com/Gittibu" title="@Localization.Get("Twitter'ta bizi takip et", "Follow-us on Twitter", lang)" class="link-block-9 w-inline-block social-media-link">
                        <i class="fa fa-twitter fa-2x"></i>
                    </a>
                    <a target="_blank" href="https://www.instagram.com/gittibu_com/" title="@Localization.Get("Instagram'da bizi takip et", "Follow-us on Instagra", lang)" class="link-block-9 w-inline-block social-media-link">
                        <i class="fa fa-instagram fa-2x"></i>
                    </a>
                    <a target="_blank" href="https://www.youtube.com/channel/UCddp0JUTOpZwh9aVSkVckfQ" title="@Localization.Get("Youtube'de bizi takip et", "Follow-us on Youtube", lang)" class="link-block-9 w-inline-block social-media-link">
                        <i class="fa fa-youtube fa-2x"></i>
                    </a>
                    <a target="_blank" href="https://tr.pinterest.com/gittibucom/" title="@Localization.Get("Pinterest'te bizi takip et", "Follow-us on Pinterest", lang)" class="link-block-9 w-inline-block social-media-link">
                        <i class="fa fa-pinterest fa-2x"></i>
                    </a>
                    <a href="/rss" title="Rss" class="link-block-9 w-inline-block social-media-link">
                        <i class="fa fa-rss fa-2x"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="div-son">
        <div class="text-block-4">© Copyright 2018 . @Localization.Get("Tüm Hakları Saklıdır", "All Rights Reserved", lang).</div>
    </div>
</div>