@model AdvertsAddDopingViewModel

@{
    ViewBag.Title = "İlana Doping Ekle";
    Layout = "AdminLayout";
    ViewData["ActiveMenu"] = "menu-item-adverts";
}

<div class="row">
    <div class="col-lg-6">
        <!--begin::Portlet-->
        <div class="m-portlet">
            <div class="m-portlet__head">
                <div class="m-portlet__head-caption">
                    <div class="m-portlet__head-title">
                        <span class="m-portlet__head-icon m--hide">
						<i class="la la-gear"></i>
						</span>
                        <h3 class="m-portlet__head-text">
							#@Model.Advert.ID @Model.Advert.Title
						</h3>
                    </div>
                </div>
            </div>
            <!--begin::Form-->
            @using (Html.BeginForm("AddDoping", "Adverts", FormMethod.Post, new { @class="m-form"}))
            {
                <input type="hidden" name="AdvertID" value="@Model.Advert.ID"/>
                <div class="m-portlet__body">
                    <div class="m-form__section m-form__section--first">
                        <div class="form-group m-form__group">
                            <label>Doping</label>
                            <select class="form-control" name="TypeID">
                                @foreach (var doping in Model.DopingTypes.OrderBy(d=>d.Name))
                                {
                                    <option value="@doping.ID">@doping.Name @doping.Day Gün</option>
                                }
                            </select>
                        </div>
                        <div class="form-group m-form__group">
                            <label>Ücret</label>
                            <input type="number" class="form-control m-input" name="Price">
                        </div>
                        
                        <div class="form-group m-form__group row">
                            <div class="col-lg-6">
                                <label>Başlangıç Tarihi</label>
                                <input type="date" name="StartDate" class="form-control" />
                            </div>
                            <div class="col-lg-6">
                                <label>Bitiş Tarihi</label>
                                <input type="date" name="EndDate" class="form-control" />
                            </div>
                        </div>
                        
                        <div class="m-form__group form-group">
                            <label class="m-checkbox m-checkbox--state-success">
                                <input type="checkbox" name="IsActive" value="false"> Aktif
                                <span></span>
                            </label>
                        </div>
                    </div>
                </div>
                <div class="m-portlet__foot m-portlet__foot--fit">
                    <div class="m-form__actions m-form__actions">
                        <button type="submit" class="btn btn-primary">Kaydet</button>
                    </div>
                </div>
            }
            <!--end::Form-->
        </div>
        <!--end::Portlet-->

        <!--begin::Portlet-->

        <!--end::Portlet-->
    </div>

</div>

