
@{
    var lang = Constants.GetLang(Context.Session.GetString("lang"));
    ViewBag.Title = Localization.Get("Şifre Değiştir", "Change Password", lang);
    Layout = "_Layout";
}

<div class="section-1 sec-altsayfa sec-hesaplar">
    <div class="w-container">

        @{
            await Html.RenderPartialAsync("~/Views/Partials/AccountSideMenu.cshtml", 3);
        }

        <div class="content w-clearfix">
            <div class="div-block-20 div-ilan hesap w-clearfix">
                <h4 class="h2 h4 h-kat h-kategori">@ViewBag.Title </h4>
            </div>
            <div class="product product-list urulerim bannerlar">
                <div class="row">
                    <div class="col-md-6 col-centered col-12">
                        @using (Html.BeginForm("ChangePassword", "Account", FormMethod.Post))
                        {
                            <div class="row margin_bottom">
                                <div class="col-12">
                                    <label class="field-label">@Localization.Get("Mevcut Şifre", "Password", lang)*:</label>
                                    <input class="textfield w-input" data-val="true" maxlength="50" name="password" type="password" required>
                                </div>
                            </div>

                            <div class="row margin_bottom">
                                <div class="col-12">
                                    <label class="field-label">@Localization.Get("Yeni Şifre", "New Password", lang)*:</label>
                                    <input class="textfield w-input" data-val="true" maxlength="50" name="newPassword" type="password" required>
                                </div>
                            </div>

                            <div class="row margin_bottom">
                                <div class="col-12">
                                    <label class="field-label">@Localization.Get("Yeni Şifre (Tekrar)", "New Password (Re)", lang)*:</label>
                                    <input class="textfield w-input" data-val="true" maxlength="50" name="newPassword2" type="password" required>
                                </div>
                            </div>

                            <div class="row align-items-center">
                                <input type="submit" value="@Localization.Get("Kaydet", "Save", lang)" class="button button-main button-satn button-submit w-button">
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
