@model UiMessage
@{
    var lang = Constants.GetLang(Context.Session.GetString("lang"));
    ViewBag.Title = Localization.Get("Şifremi Unuttum", "Forgotten Password", lang);
    Layout = "_Layout";
}

<div class="urun-det">
    <div class="container-4 w-container">
        <div class="div-cizgi div-head">
            <div class="div-block-17 form-wrapper w-clearfix">
                
               @if (Model != null && Model.Type == NotyType.error)
               {
                   <div class="alert alert-danger forgotten-alert-background-color-red">
                       <b>@Localization.Get("Hata","Error",lang) : </b>@Model.Message
                   </div>
               }
               else if (Model != null && Model.Type == NotyType.success)
               {
                   <div class="alert alert-danger forgotten-alert-background-color-darkgreen">
                       @Model.Message
                   </div>
               }
                 
                <h3 class="form-text heading-2">@Localization.Get("Şifremi Unuttum", "Forgotten Password",lang)</h3>
                <div class="form-block-5 w-form m-0">
                    @using (Html.BeginForm("ForgottenPassword","Account", FormMethod.Post, new{ @class="w-clearfix" }))
                    { 
                        <label for="name" class="field-label">@Localization.Get("E-Posta veya Kullanıcı Adınız","E-Mail or Username",lang)*:</label>
                        <input class="textfield w-input" data-val="true" maxlength="100" name="user" type="text" value="" autocomplete="off" required> 
                        <input type="submit" value="@Localization.Get("Gönder","Send",lang)"  class="button button-main button-satn button-submit w-button"> 
                    }
                      
                </div>
 
            </div>
        </div>
    </div>
</div>
