@model User

@{
    var lang = Constants.GetLang(Context.Session.GetString("lang"));
    ViewBag.Title = Localization.Get("Profilim", "My Profile", lang);
    Layout = "_Layout";
}
@section style{
    <style>
        table tr {
            height: 76px;
            -webkit-transition: all .3s cubic-bezier(.47,0,.745,.715);
            transition: all .3s cubic-bezier(.47,0,.745,.715);
            padding-top: 17px;
            padding-bottom: 17px;
            padding-left: 10px;
            cursor: pointer
        }

            table tr, table tr td {
                height: 76px !important
            }

        table tbody tr {
            border-top: 1px solid #ebebeb
        }

            table tbody tr:hover {
                padding-right: 0;
                padding-left: 10px;
                box-shadow: 0 3px 42px -5px rgba(46,46,46,.26);
                -webkit-transform: scale(1);
                -ms-transform: scale(1);
                transform: scale(1)
            }

        table tr td {
            padding-top: 7px;
            padding-bottom: 7px;
            padding-left: 10px;
            overflow: no-display
        }

        table tbody {
            margin-top: 5px
        }

        .profil-value {
            width: 100px;
            float: right
        }

        .profil-value-large {
            width: 200px;
            float: right
        }

        .profil-key {
            float: left;
            width: 300px
        }

        .profil-key-large {
            float: left;
            width: 400px
        }

        .profil-scale {
            padding-top: 10px;
            padding-bottom: 30px
        }

        td {
            vertical-align: middle !important;
        }

        .profile-box {
            box-shadow: -1px 13px 24px -5px rgba(0, 0, 0, .13);
        }

        #statsTable tr {
            height: unset !important;
        }

        #statsTable td {
            padding: 2%;
            height: unset !important;
        }
    </style>
}
<div class="section-1 sec-altsayfa sec-hesaplar">
    <div class="w-container">

        @{
            await Html.RenderPartialAsync("~/Views/Partials/AccountSideMenu.cshtml", 4);
        }

        <div class="content w-clearfix">
            <div class="div-block-20 div-ilan hesap w-clearfix">
                <h4 class="h2 h4 h-kat h-kategori">@ViewBag.Title </h4>
            </div>
            <div class="product product-list urulerim bannerlar">

                <div class="row profile-box">
                    <div class="col-md-4 col-12 text-center">
                        <img alt="@(Model?.Name)" src="@Model.ProfilePicture" onerror="this.src ='/Content/img/avatar-no-image.png';" class="image-12 display-inline m-0 f-n">

                        <h5 class="text-center text-transform-capitalize">@Model.Name</h5>
                    </div>
                    <div class="col-md-8 col-12">
                        <table class="table table-hover" id="statsTable">
                            <tr>
                                <td>@Localization.Get("Yayınlanan İlanlar", "Published Ads", lang)</td>
                                <td>@(Model?.Adverts.Count(x => x.IsActive))</td>
                            </tr>
                            <tr>
                                <td>@Localization.Get("Satışlarım", "My Sales", lang)</td>
                                <td>0</td>
                            </tr>
                            <tr>
                                <td>@Localization.Get("Alışlarım", "My Buys", lang)</td>
                                <td>0</td>
                            </tr>
                            <tr>
                                <td>@Localization.Get("Son Oturum Açma Tarihi", "Last Login Date", lang)</td>
                                <td>@(Model.LastLoginDate?.ToString("g"))</td>
                            </tr>
                        </table>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script>
        function ask(id, name) {
            $("html, body").animate({ scrollTop: 0 }, "slow");
            var q = ' @Localization.Get("Yeniden yayınlamak istediğinize emin misiniz?", "Are you sure you want to re-publish?", lang) ';
            var n = new Noty({
                container: '#question',
                text: name + ' </br>' + q,
                buttons: [
                    Noty.button('@Localization.Get("EVET", "YES", lang)',
                        'btn btn-success',
                        function() {
                            publishRequest(id);
                            n.close();
                        },
                        { id: 'button1', 'data-status': 'ok' }),
                    Noty.button('@Localization.Get("HAYIR", "NO", lang)',
                        'btn btn-error',
                        function() {
                            n.close();
                        })
                ]
            });
            n.show();
        }

        function publishRequest(id) {
            $.ajax({
                url: '/MyAccount/PublishRequest/',
                data: { id },
                type: 'POST',
                dataType: 'json',
                success: function(data) {
                    var type = '';
                    if (data.isSuccess) {
                        type = 'success';
                        $('#publish_' + id).remove();
                        $('#status_' + id).html('@Localization.Get("Onay Bekliyor","Waiting Approval",lang)');
                    } else {
                        type = 'error';
                    }
                    new Noty({
                        theme: 'sunset',
                        type: type,
                        text: data.message,
                        progressBar: true,
                        timeout: 4000
                    }).show();
                }
            });
        }
    </script>

    <script>
        function askPassive(id, name) {
            $("html, body").animate({ scrollTop: 0 }, "slow");
            var q = ' @Localization.Get("Yayından kaldırmak istediğinize emin misiniz?", "Are you sure you want to unpublish?", lang) ';
            var n = new Noty({
                container: '#question',
                text: name + ' </br>' + q,
                buttons: [
                    Noty.button('@Localization.Get("EVET", "YES", lang)',
                        'btn btn-success',
                        function() {
                            unpublish(id);
                            n.close();
                        },
                        { id: 'button1', 'data-status': 'ok' }),
                    Noty.button('@Localization.Get("HAYIR", "NO", lang)',
                        'btn btn-error',
                        function() {
                            n.close();
                        })
                ]
            });
            n.show();
        }

        function unpublish(id) {
            $.ajax({
                url: '/MyAccount/Unpublish/',
                data: { id },
                type: 'POST',
                dataType: 'json',
                success: function(data) {
                    var type = '';
                    if (data.isSuccess) {
                        type = 'success';
                        $('#status_' + id).html('@Localization.Get("Yayından Kaldırıldı","Unpublished",lang)');
                    } else {
                        type = 'error';
                    }
                    new Noty({
                        theme: 'sunset',
                        type: type,
                        text: data.message,
                        progressBar: true,
                        timeout: 4000
                    }).show();
                }
            });
        }
    </script>
}