@model User
@{
    var lang = Constants.GetLang(Context.Session.GetString("lang"));
    ViewBag.Title = Localization.Get("Şifremi Sıfırla", "Reset Password", lang);
    Layout = "_Layout";
}

<div class="urun-det">
    <div class="container-4 w-container">
        <div class="div-cizgi div-head">
            <div class="div-block-17 form-wrapper w-clearfix">
               
                <div id="alertArea"> 
                </div> 
                
                    @if (TempData.Get<UiMessage>("UiMessage") == null || TempData.Get<UiMessage>("UiMessage").Class!="success")
                    {
                        <h3 class="form-text heading-2">@Localization.Get("Şifremi Sıfırla","Reset Password",lang)</h3>
                        <div class="form-block-5 w-form m-0" >
                        @using (Html.BeginForm("ResetPassword", "Account", FormMethod.Post, new { @class = "w-clearfix", id = "form-reset"}))
                         {
                             <label class="field-label text-transform-capitalize" >@Localization.Get("Merhaba", "Hello", lang): @Model.Name</label>

                             <label class="field-label">@Localization.Get("Şifre", "Password", lang)*:</label>
                             <input id="pass1" class="textfield w-input" data-val="true" maxlength="100" name="password" type="password" autocomplete="off" required>

                             <label class="field-label">@Localization.Get("Şifre Tekrar", "Password Again", lang)*:</label>
                             <input id="pass2" class="textfield w-input" data-val="true" maxlength="100" name="password2" type="password" autocomplete="off" required>

                             <input type="button" onclick="resetPassword()" value="@Localization.Get("Sıfırla", "Reset", lang)" class="button button-main button-satn button-submit w-button">

                         }
                        </div>
                    }   
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script>
        function resetPassword(parameters) {
            @*console.log('jquery');*@
            var samePasswordError = '@Localization.Get("Şifreler aynı değil lütfen kontrol edin.","Please check if passwords are not the same.",lang)';
            var minLengthError = '@Localization.Get("Şifreniz en az 6 karakter olmalıdır.","Your password must be at least 6 characters.",lang)';
            var waitMessage = '@Localization.Get("İşleminiz yapılıyor lütfen bekleyin.","Please wait while your transaction is in progress.",lang)';
            if ($('#pass1').val().length < 6) {
                showAlert(minLengthError, "danger");
                return;
            } 
            
            if ($('#pass1').val() === $('#pass2').val()) {
                showAlert(waitMessage, "info");
                $('#form-reset').submit();
                return true;
            } else {
                showAlert(samePasswordError, "danger");
            }
            return false;
        } 
    </script>
}
