@using GittiBu.Common.Extensions;

@model HomePageItem
@{
    var lang = Constants.GetLang(Context.Session.GetString("lang"));
    var itemClass = Model.YellowDoping ? "onemli-urun" : "";

    string title = Html.TitleFormat(Model.Title);
    string userName = Html.TitleFormat(Model.UserName);
}

@if (Model.Type == Enums.HomePageItemType.Ilan)
{

    <div class="product-wrapper pw4 w-clearfix AcilSatilikUrun" id="advert_@Model.ID" itemscope itemtype="https://schema.org/Product">
        <div class="product product-ana @itemClass">
            <meta itemprop="productID" content="isbn:@Model.ID" /><meta itemprop="mpn" content="@Model.ID" />
            <meta itemprop="sku" content="@Model.StockAmount" />
            <a href="@Model.Url" class="w-inline-block w-full w-clearfix" title="@title" itemprop="url" target="_blank">
                <div class="urun-imaj">
                    <img alt="@title" src="@(!string.IsNullOrEmpty(Model.ImageSource)?Model.ImageSource:"/Content/img/no-image.jpg")" onerror="this.src = '/Content/img/no-image.jpg';" itemprop="image" />
                </div>
                <div class="kategoriler urun-text">
                    <h4 itemprop="name">@Html.Raw(title)</h4>
                    <div class="ilan-aciklama-alani">
                        <p class="category-name">@Model.CategoryName</p>
                        <p class="text-white">@Model.CategoryName @Model.CategoryName </p>
                        <p><span>@Localization.Get("İlan No", "Ad No: ", lang)</span>: #@Model.ID</p>
                        <p><span>@Localization.Get("İlan Tarihi", "Post Date", lang)</span>: @(Model.CreatedDate.ToShortDateString())</p>
                        <p class="counts"><i class="fa fa-thumbs-up"></i> @Model.LikesCount &nbsp;<i class="fa fa-eye"></i> @Model.ViewCount </p>
                    </div>
                </div>
            </a>
            <div class="listing-footer">
                <div class="old-price">@Model.OldPrice</div>
                @if (Model.ILiked)
                {
                    <img alt="PayPal Türkiye" id="likeImage_@Model.ID" src="/Content/img/images/dolu_kalp.png" class="kalp" onclick="unlikeAd(@Model.ID)" title="@Localization.Get("Beğenmekten Vazgeç","Unlike",lang)">
                }
                else
                {
                    <img alt="PayPal Türkiye" id="likeImage_@Model.ID" src="/Content/img/images/kalp.png" class="kalp" onclick="likeAd(@Model.ID)" title="@Localization.Get("Beğen","Like",lang)">
                }
                @*<span class="description" hidden>
                    <span itemprop="description">@Html.Raw(Model.Description)</span>
                </span>*@
                <meta itemprop="brand" content="@(!string.IsNullOrWhiteSpace(Model.CategoryName) ? Html.Raw(Model.CategoryName) : Html.Raw(title))" />
                <div class="new-price" itemprop="offers" itemscope itemtype="https://schema.org/Offer">
                    <span itemprop="priceCurrency" content="@Model.PriceCurrency.Replace("TL","TRY")">@Model.PriceCurrency</span>
                    <span itemprop="price">@Model.Price</span>
                    <link itemprop="availability" href="https://schema.org/InStock" />
                    <meta itemprop="priceValidUntil" content="@Model.CreatedDate.AddYears(1).ToString("yyyy-MM-dd")">
                    <meta itemprop="url" content="https://@(Context.Request.Host+Model.Url)">
                    <meta itemprop="sku" content="@Model.StockAmount">
                </div>
            </div>
            <div itemprop="aggregateRating" itemscope itemtype="https://schema.org/AggregateRating" hidden>
                <span itemprop="ratingCount">5</span>
                <span itemprop="reviewCount" hidden>@Model.ViewCount</span>
                <span itemprop="ratingValue">5</span>
            </div>
            <div itemprop="review" itemscope itemtype="https://schema.org/Review" hidden>
                <div itemprop="reviewRating" itemscope itemtype="https://schema.org/Rating">
                    <span itemprop="ratingValue">5</span>
                </div><span itemprop="itemReviewed">5</span>
                <span itemprop="author" hidden>@userName</span>
                @if (Model.LastUpdateDate.HasValue)
                {
                    <meta itemprop="datePublished" content="@Model.LastUpdateDate.Value.AddHours(1)" />
                }

            </div>

            @if (!string.IsNullOrEmpty(Model.LabelDopingType))
            {
                string className = "", enText = "";
                if (Model.LabelDopingType == "Yeni")
                {
                    className = "new";
                    enText = "New";
                }
                else if (Model.LabelDopingType == "Fiyatı Düştü")
                {
                    className = "fiyati-dustu ";
                    enText = "Price Dropped";
                }
                else if (Model.LabelDopingType == "Acil")
                {
                    className = "fiyati-dustu acil";
                    enText = "Urgent";
                }

                <div class="div-block-40 @className ">
                    <div>@Localization.Get(Model.LabelDopingType, enText, lang)</div>
                </div>
            }
            @if (!Model.IsActive && Model.IsApproved)
            {
                <div class="div-block-40 ad-passive">
                    <div>@Localization.Get("Bu İlan Pasiftir", "This ad is passive", lang)</div>
                </div>
            }
            @if (!string.IsNullOrEmpty(Model.SecurePayment))
            {
                <div class="fiyati-dustu gittibu"><div> @Model.SecurePayment </div></div>
            }
        </div>
    </div>
}
else
{
    <div class="product-wrapper pw4 w-clearfix AcilSatilikUrun blogpost">
        <div class="product product-ana ">
            <a href="@Model.Url" class="w-inline-block w-full w-clearfix" title="@title">
                <div class="urun-imaj">
                    <img alt="@title" src="@(!string.IsNullOrEmpty(Model.ImageSource)?Model.ImageSource:"/Content/img/no-image.jpg")" onerror="this.src = '/Content/img/no-image.jpg';">
                </div>
                <div class="kategoriler urun-text">
                    @(title.Length > 50 ? title.Substring(0, 40) + "..." : title)

                    <div class="ilan-aciklama-alani">
                        <p><span>@Localization.Get("İlan No", "Post No", lang)</span>: #@Model.ID</p>
                        <p><span>@Localization.Get("İlan Tarihi", "Posted Date", lang)</span>: @(Model.CreatedDate.ToShortDateString())</p>
                        <p><span>@Localization.Get("Görüntülenme", "Seen", lang)</span>: <span class="begeni-span">@Model.ViewCount</span></p>
                    </div>
                </div>
                <div class="new-price white"></div>
            </a>
            <div class="listing-footer">
                <div class="old-price"></div>
                <div class="new-price">&nbsp; </div>
            </div>
        </div>
    </div>
}

